<h2 class="line1">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h2>
<p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <a href="#">A CONTINUACION</a></p>
<div class="contenedor1">
    <div>
        <img src="https://ssupotosi.com.bo/img/pdf.png" alt="">
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/img/ingreso.png" alt="" >
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/img/afiliaciones.png" alt="">
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/img/img-cuestionario.png" alt="">
    </div>
</div>

<div class="contenedor2">
    <div class="cont_desc">
        <h1 style="color: black; font-size: 25 px; font-size: Arial"> Brindando los mejores servicios</h1>
        <p>Servicio de ambulancia las 24 Hrs. de la semana</p>
        <p>Les brindaremoslos mejores servicios y medicos para confort con calidad y calidez.<p>
        <p>24/7 la formula perfecta al servicio de nuestros asegurados y la poblacion en general.</p>
        <p>las 24 horas y los 7 dias de la semana, en caso de necesitarnos llamar al</p>
    </div>
    <div class="cont_imagenes">
        <div>
            <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
        </div>
        <div>
            <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
        </div>
        <div>
            <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
        </div>
        <div>
            <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
        </div>
        <div>
            <img src="https://ssupotosi.com.bo/images/farmacia.jpg" alt="">
        </div>
        <div>
            <img src="https://ssupotosi.com.bo/images/ambulancia.png" alt="">
        </div>    
    </div>
</div>

<div class="contenedor3">
    <h2>Autoridades</h2>
    <p>Conosca a nuestras autoridades ingresando al enlace</p>
    <h1>Contamos con medicos especialistas preparados al servicio de la sociedad</h1>
    <div class="cont_3">
        <div class="img_bor_3_red">
            <img src="https://ssupotosi.com.bo/images/medicos/jerson_arancibia.jpg" alt="">
            <div  class="name_3">
                <P>JERSON ARANCIBIA</P>
                <P>GESTOR DE CALIDAD</P>
            </div>
            
        </div>
        <div class="img_bor_3_red">
            <img src="https://ssupotosi.com.bo/images/medicos/elena_bravo.jpg" alt="">
            <div  class="name_3">
                <P>ELENA BRAVO</P>
                <P>MEDICO GENERAL EST.</P>
            </div>
        </div>
        <div class="img_bor_3_blue">
            <img src="https://ssupotosi.com.bo/images/medicos/grinez_rocio.jpg" alt="">
            <div  class="name_3">
                <P>GRINEZ ROCIO</P>
                <P>MEDICO CENTINELA</P>
            </div>
        </div>
        <div class="img_bor_3_blue">
            <img src="https://ssupotosi.com.bo/images/medicos/melva_magne.jpg" alt="">
            <div  class="name_3">
                <P>MELVA MAGNE</P>
                <P>REGERENTE DE FARMACIA</P>
            </div>
        </div>

    </div>
</div>

<div class="contenedor4">
    <div>
        <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
        <p>ENFERMERIA</p>
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/images/pediatria.jpg" alt="">
        <p>CONSULTA GENERAL</p>
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
        <p>ECOGRAFIA</p>
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
        <p>LABORATORIO</p>
    </div>
    <div>
        <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
        <p>FARMACIA</p>
    </div>
</div>